.adventure-item {
    width: 90% !important;
    background-color: #ffffff;
    border-radius: 8px;
    transition: transform 0.3s;
    overflow: hidden;
    display: flex; /* Centering content */
    flex-direction: column; /* Arrange elements in a column */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.group-title{
    margin-top: 100px;
    /* color: #333;  */
    /* margin-bottom: 20px; */
}

.group-card {
    min-width: 250px !important; /* Adjust based on your design needs */
    margin: auto; /* Center cards */
    border-radius: 20px !important;
}

.card-body {
    flex: 1; /* Allows the card body to take available space */
}

.card-title {
    font-size: 1.25rem; /* Larger title size for better readability */
    font-weight: bold;
}

.card-text {
    font-size: 0.95rem; /* Slightly larger description for better visibility */
}



/* Ensure the card image doesn't exceed its parent's height on smaller screens */
.card img {
    object-fit: cover;
    height: 100%;
}

/* Adjust column widths based on screen size */
@media (max-width: 575.98px) {
    .col-12, .col-sm-6, .col-md-4, .col-lg-3, .col-xl-2 {
        flex-basis: 100% !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .col-12, .col-sm-6, .col-md-4, .col-lg-3, .col-xl-2 {
        flex-basis: 50% !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .col-12, .col-sm-6, .col-md-4, .col-xl-3 {
        flex-basis: 33.33333% !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .col-12, .col-sm-6, .col-md-4, .col-lg-3, .col-xl-2 {
        flex-basis: 25% !important;
    }
}

@media (min-width: 1200px) {
    .col-12, .col-sm-6, .col-md-4, .col-lg-3, .col-xl-2 {
        flex-basis: 25% !important;
    }
}