.not-found {
  text-align: center;
  padding: 50px;
}

.not-found h1 {
  font-size: 3rem;
  color: #773697;
}

.not-found p {
  font-size: 1.2rem;
  margin: 20px 0;
  color: #fff;
}

.not-found a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background: #773697;
  border-radius: 8px;
  text-decoration: none;
}

.not-found a:hover {
  background: #5c2a7b;
}
