body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

.about-us-page-section {
  position: relative;
}

.about-us-intro {
  background: url('../../assets/images/image5.jpeg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  /* padding: 50px 0; */
  text-align: center;
  animation: fadeIn 1s;
}

.about-us-intro {
  position: relative;
  background: url('../../assets/images/image5.jpeg') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.about-us-intro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 215, 0, 0.4); /* Gold color with 0.4 opacity */
  z-index: 1; /* Make sure the gradient is on top of the image */
}

.about-us-intro h1, 
.about-us-intro h4 {
  position: relative;
  z-index: 2; /* Place text above the gradient */
  color: #fff; /* Text color */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.services-section {
  margin: 40px 0;
}

.service-animated {
  transition: transform 0.3s;
}

.service-animated:hover {
  transform: scale(1.05);
}

.hero-section {
  /* padding: 40px 0; */
  text-align: center;
  background-color: #000042;
  color: white;
}

.about-us__progress {
  padding: 20px 0;
}

.progress-bar__container {
  max-width: 800px;
  margin: auto;
}

.progress-bar__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  color: #333;
}

.timeline {
  padding: 40px 0;
}

.timeline__item {
  margin: 20px 0;
}

.about-us-difference {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.partner-carousel {
  display: flex;
  overflow-x: auto;
  padding: 20px 0;
}

.partner-logo {
  margin-right: 20px;
}

.about-us-impact {
  padding: 40px 0;
  background-color: #eaeaea;
}

.all-headings4 {
  font-size: 1.5rem;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .about-us-difference {
      flex-direction: column;
  }
}