/* src/styles/Destinations.css */
.destination-card {
    border: 1px solid #773697;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.2s;
    width: 100%;
  }
  
  .destination-card:hover {
    transform: scale(1.01);
  }
  
  h2 {
    color: #773697;
  }
  
  .container {
    margin: 20px;
  }

  .see-more-btn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  
  .see-more-btn:hover {
    background-color: #0056b3;
  }
  
  .book-btn {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  
  .book-btn:hover {
    background-color: #218838;
  }
  
  .see-more-btn {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.see-more-btn:hover {
  background-color: #0056b3;
}

.book-btn {
  background-color: #28a745;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.book-btn:hover {
  background-color: #218838;
}
