/* Navbar.css */

/* styles.css */
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Caladea';
  src: url('src/fonts/Bitter,Caladea/Caladea/Caladea-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.value-card-nav {
  background-color: #111111;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s;
}

.left-section {
  flex: 1;
}

.center-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  margin: 0 15px; /* Add spacing between nav items */
}

.navbar-brand {
  margin-right: 30px; /* Space between logo and links */
}

.text-white {
  color: #fff;
}

.contact-btn {
  border-radius: 15px !important;
  box-shadow: 0px 2px 2px #000042;
}

/* Navbar Toggler */
.navbar-toggler {
  border: none; /* Remove border */
  width: 50px; /* Increase width */
  height: 50px; /* Increase height */
  padding: 10px; /* Add padding */
  background-color: transparent; /* Make background transparent */
  display: flex; /* Center icon */
  align-items: center; /* Center icon vertically */
  justify-content: center; /* Center icon horizontally */
  color: #d9d9d9;
}

.navbar-toggler-icon {
  background-color: none; /* Change toggle icon color */
  color: #d9d9d9;

}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: '';
  display: block;
  color: wheat; /* Color of the lines */
  width: 30px; /* Width of the lines */
  height: 4px; /* Thickness of the lines */
  margin: 5px auto; /* Space between lines */
}

/* Media Query for Navbar */
@media (max-width: 992px) {
  .center-section {
    text-align: center; /* Center align nav links on mobile */
  }
}



/* Styling for hover dropdown */
.navbar-nav .dropdown-menu {
  display: none;
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Remove any margin between dropdown and navbar */
}

.navbar-nav .dropdown-menu {
  /* background-color: #1c85e8; */
  color: white;
  border-radius: 0;
  margin-top: 0;
  padding: 10px;
}

.navbar-nav .dropdown-item {
  color: white;
}

.navbar-nav .dropdown-item:hover {
  background-color: #000042;
}

.navbar-nav .dropdown-toggle::after {
  display: none;
}

/* Search box customizations */
.input-group-text {
  border-color: lightgray;
}

.input-group .form-control {
  border-color: lightgray;
}

.input-group .form-control:focus {
  border-color: #1c85e8;
  box-shadow: none;
}

.dot {
  display: inline-block;
  width: 10px;            /* Adjust size */
  height: 10px;           /* Same height and width for a perfect circle */
  background-color: #fdeb3d; /* Dot color */
  border-radius: 50%;      /* Make it circular */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  margin-right: 5px;      /* Optional spacing if you want space between the dot and other content */
}

.icon-yellow {
  color: #FFC107;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-color: #fdeb3d;
  background-color: none;
  border-radius: 4px;
  text-decoration-thickness: 4px;
  text-decoration-skip: 4px;
  transition: 0.3s ease-in-out;
}

.profile-pic {
  width: 50px; /* Set width */
  height: 50px; /* Set height */
  border-radius: 50%; /* Make it circular */
  margin-right: 8px; /* Space between the image and the title */
}
