::selection {
  background: #de7cfc28;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(61 61 61);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #facff1;
}

* {
  text-decoration: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #f4f4f9 !important;
}

.all-headings{
  font-family: Caladea;
  font-size: 1.6rem;         
  font-Weight: bold;
  letter-spacing: 0.15em;      
  text-transform: uppercase;   
  /* background: linear-gradient(135deg, #3498db, #8e44ad);  */
  Webkit-background-clip: text;
  Webkit-text-fillColor: transparent;
  text-shadow: 2px 2px 5px rgba(253, 235, 61, 0.4);
  padding: '0.3em 0',     
}

.all-headings4{
  font-family: Caladea;
  font-size: 1.5rem !important;         
  font-Weight: bold;
  letter-spacing: 0.15em;      
  text-transform: uppercase;   
  /* background: linear-gradient(135deg, #3498db, #8e44ad);  */
  Webkit-background-clip: text;
  Webkit-text-fillColor: transparent;
  text-shadow: 2px 2px 5px rgba(253, 235, 61, 0.4);
  padding: '0.3em 0',     
}

.all-headings5{
  font-family: Caladea;
  font-size: 1rem !important;         
  font-Weight: bold;
  letter-spacing: 0.15em;      
  text-transform: uppercase;   
  /* background: linear-gradient(135deg, #3498db, #8e44ad);  */
  Webkit-background-clip: text;
  Webkit-text-fillColor: transparent;
  text-shadow: 2px 2px 5px rgba(253, 235, 61, 0.4);
  padding: '0.3em 0',     
}

.book-now-btn{
  font-family: Caladea;
  font-size: 0.8rem;         
  font-Weight: bold;
  letter-spacing: 0.15em;      
  text-transform: uppercase;   
  /* background: linear-gradient(135deg, #3498db, #8e44ad);  */
  Webkit-background-clip: text;
  Webkit-text-fillColor: transparent;
  text-shadow: 2px 2px 5px rgba(253, 235, 61, 0.4);
  padding: '0.3em 0';
  align-items: right;
}

.page-container {
  margin: auto;
}

.hidden {
  opacity: 0;
  transition: all 600ms;
}

.show {
  opacity: 1;
}

.short {
  width: 0;
  margin-right: auto;
}

.long {
  width: 566px;
  margin-right: 0;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 900px;
}

p,h1, h2, h3, h4, h5, h6{
  font-family: Caladea !important;

}
